<div id="contentContainer">
    <table style="height: 20px;">
        <tr style="height: 20px;">
            <td>
                <label class="category-label" for="companycode">
                    Asofdate:</label>
            </td>
            <td>
                @(Html.Kendo().DropDownList()
                .Name("ReportAsofdate")
                        .OptionLabel("Select Asofdate")
                                 .HtmlAttributes(new { style = "width:250px" })
                .AutoBind(false)
                            .DataTextField("EventDate")
                            .DataValueField("EventDate")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                    {
                                        read.Action("GetIvtBalanceAsofdate", "Reports");
                                    });
                            })
            )
            </td>
            <td>
                <button class="k-button navbuttons" id="btnOpen">
                    Submit</button>
            </td>
            <td>
                <button class="k-button navbuttons" id="btnOpenNewWindow">
                    Open in new window</button>
            </td>
        </tr>
    </table>
    <div id="reportContainer" style="overflow: hidden; height: 100%">
        <iframe id="ivt2sapBalancereportframe" width="100%" height="100%" frameborder="0">
        </iframe>
    </div>
</div>
<script type="text/javascript">


    $(document).ready(function () {
        $("#btnOpenNewWindow").click(reports.loadivt2sapBalanceReportinNewWindow);
        $("#btnOpen").click(reports.loadivt2sapBalanceReport);

        $('iframe').load(function () {
            $('#loading').hide();
            $('.loader').hide();
            $('.loaderlogo').hide();
            $.ajaxSetup({ async: true });
        });

    });
</script>
