<div id="contentContainer">
    <table style="height: 20px;">
        <tr style="height: 20px;">
             <td style="padding-left: 5px;">
                <label class="category-label" for="CalculationGroup">
                  Calculation Group:</label>
            </td>
            <td>@(Html.Kendo().DropDownList()
             .Name("CalculationGroup").HtmlAttributes(new { @style = "font-size:12px" })
              .DataTextField("Calculation_Group")
                   .DataValueField("Calculation_Group")
                  .Events(e => e.Change("common.loadJEReportSubSetdata"))
                 .OptionLabel("Please Select") 
                .DataSource(source =>
            {
                source.Read(read =>
                    {
                        read.Action("GetCalculationGroup", "RunInterface");
                    });
            })
            ) 
            </td>
             <td style="padding-left: 5px;">
                <label class="category-label" for="Subset">
                  SubSet</label>
            </td>
            <td>
            @(Html.Kendo().DropDownList()
                .Name("Subset")
                 .OptionLabel("--Please Select--")
                 .DataTextField("Subset")
                 .DataValueField("JE_Type")
                 .Events(e => e.Change("common.loadJEMemoRunIddata"))
                .AutoBind(false)
            )
            </td>
             <td style="padding-left: 5px;">
                <label class="category-label" for="ddRunIdJEMemo" id="lblRunId">
                  Select RunId</label>
            </td>
            <td>
            @(Html.Kendo().DropDownList()
                    .Name("ddRunIdJEMemo")
                 .OptionLabel("--Please Select--")
                  .DataTextField("Run_Id")
                  .DataValueField("Run_Id")
                           
                .AutoBind(false)
            )
            </td>
            <td>
                 <button class="k-button" id="btnSubmit" style="width: 100px;">Submit</button>
            </td>
            <td>
                <button class="k-button navbuttons" id="btnOpen">
                    Open in new window</button>
            </td>
        </tr>
    </table>
    <div id="reportContainer" style="overflow: hidden; height: 100%">
        <iframe id="Rev2SapJEMemoreportframe" width="100%" height="100%" frameborder="0">
        </iframe>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnOpen").click(reports.loadRev2SapJEMemoReportinNewWindow);
        $("#btnSubmit").click(reports.loadRev2SapJEMemoPReport);
        $("#ddRunIdJEMemo").closest(".k-widget").hide();
        $("#lblRunId").hide();
        $('#btnSubmit').hide();
        $('#btnOpen').hide();
        $('iframe').load(function () {
            $('#loading').hide();
            $('.loader').hide();
            $('.loaderlogo').hide();
            $.ajaxSetup({ async: true });
        });

    });
</script>

