
@{
    ViewBag.Title = "Company Summary";
}
@section featured {
}
<script type="text/javascript">
    function deleteRule() {
        var myGrid = $('#grid').data("kendoGrid");

        if (myGrid.select().length == 0) {
            alert("Select record to be removed!");
            return false;
        }
        myGrid.removeRow(myGrid.select());
    }
    function dataBound(e) {
        $("#grid").off("click", ".k-grid-Delete", deleteRule);
        $("#grid").on("click", ".k-grid-Delete", deleteRule);
    }
    function onRequestEnd(e) {
        if (e.type == "update" && !e.response.errors) {
            common.showSuccessMsgSlide("Ivt2Sap Company Summary Updated Successfully!");
        }
        if (e.type == "create" && !e.response.errors) {
            common.showSuccessMsgSlide("Ivt2Sap Company Summary Created Successfully!");
            $("#grid").data("kendoGrid").dataSource.read(getSelectedInterface());
        }
        if (e.type == "destroy" && !e.response.errors) {
            common.showSuccessMsgSlide("Ivt2Sap Company Summary Removed Successfully!");
            $("#grid").data("kendoGrid").dataSource.read();
        }
    }
    function onSave(e) {        
        if (e.model.id != e.model.CompanyCode) {
            if (!checkDup(this, e.model.CompanyCode)) {
                alert("CompanyCode already exists!");
                e.preventDefault();
            }
        }
    }
    function checkDup(obj, value) {
        var data = obj.dataSource.data();
        var invalid = 0;
        $(data).each(function (i, item) {            
            if (item.id == value) {
                invalid++;
            }
        });
        if (invalid > 0) {
            return false;
        }       
        return true;
    }
    function onEdit(e) {        
        if (e.model.isNew() == false) {
            e.container.find('#CompanyCode').prop("readonly", true);
        }
    }
</script>
<div id="contentContainer">
             
             
@(Html.Kendo().Grid<NylimSapInterface.Model.Ivt2SapCompanySummary>()
        .Name("grid")
    .Groupable()
    .Resizable(resize => resize.Columns(true))    
    .Scrollable(scrollable => scrollable.Virtual(true))
    .Events(e => e.DataBound("dataBound").Save("onSave").Edit("onEdit"))
    .Editable(e => e.Mode(GridEditMode.PopUp))
    .Sortable()
    .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
    .Filterable(f => f.Enabled(true))
    .Columns(columns =>
    {
        columns.Bound(p => p.CompanyGroup).Width(120);
        columns.Bound(p => p.CompanyCode).Width(120);
        columns.Bound(p => p.Description).Width(110);
        columns.Bound(p => p.IvtID).Width(80);
        columns.Bound(p => p.SendToSapAuto).Width(130);
        columns.Bound(p => p.Maker).Width(410).HtmlAttributes(new { @style = "white-space: nowrap; text-overflow: ellipsis;", @value = "bar" });
        columns.Bound(p => p.Checker).Width(410).HtmlAttributes(new { @style = "white-space: nowrap; text-overflow: ellipsis;", @value = "bar" });
        columns.Bound(p => p.ProfitCenter).Width(150);
        columns.Bound(p => p.CostCenter).Width(150);
        columns.Bound(p => p.Recid1).Width(120);
        columns.Bound(p => p.Importid1_1).Width(120);
        columns.Bound(p => p.Importid2_1).Width(120);
        columns.Bound(p => p.Recid2).Width(120);
        columns.Bound(p => p.Importid1_2).Width(120);
        columns.Bound(p => p.Importid2_2).Width(120);
        columns.Bound(p => p.FundName).Width(290).HtmlAttributes(new { @style = "white-space: nowrap; text-overflow: ellipsis;", @value = "bar" });
        columns.Bound(p => p.RollupToSap).Width(150);
    })
    .ToolBar(toolbar => { 
        toolbar.Template(
            @<text> <a class="k-button k-button-icontext k-grid-add" href="/SapGuiInterface/ReferenceData/GetIvt2SapCompanySummary?grid-mode=insert">
                <span class="k-icon k-add"></span>Create Company Summary</a> <a class="k-button k-button-icontext k-grid-Delete"
                    href="#"><span></span>Delete</a><a class="k-button k-button-icontext k-grid-export" href='@Url.Action("Ivt2SapCompanySummaryToExcel", "ReferenceData")'>
                        <span></span><span class=" k-icon k-grid-export-image"/>Export </a>
    </text>);
    })
    .DataSource(dataSource => dataSource
        .Ajax()
                .Model(m =>
                {
                    m.Id("CompanyCode");                                   
                })
        .Events( e => e.RequestEnd("onRequestEnd"))
        .Create(update => update.Action("SaveIvt2SapCompanySummary", "ReferenceData"))
        .Update(update => update.Action("UpdateIvt2SapCompanySummary", "ReferenceData"))
        .Destroy(destroy => destroy.Action("DeleteIvt2SapCompanySummary", "ReferenceData"))
        .PageSize(40)
        .ServerOperation(true)
        .Read(read => read.Action("GetIvt2SapCompanySummary", "ReferenceData"))
    )
)
</div>
<script type="text/javascript">
    var securityModel = common.permissionSet;
    if (securityModel.HasIVT2SAP_EDIT_RULE_Access) {
        $('#grid').data("kendoGrid").element.delegate("tbody>tr", "dblclick", function () {
            $('#grid').data("kendoGrid").editRow($(this));
        });
    }
    $("#grid").off("click", ".k-grid-Delete", deleteRule);
    $("#grid").on("click", ".k-grid-Delete", deleteRule);
    var test = $('#grid').data("kendoGrid").table.kendoTooltip({
        filter: "td[value=bar]",
        content: function (e) {
            var target = e.target;
            return $(target).text();
        },
        position: "top",
        width: 300
    }).data("kendoTooltip");

    $(document).ready(function () {
        /*var securityModel = common.permissionSet;
        if (securityModel.HasIVT2SAP_INT_Access || securityModel.HasIVT2SAP_EDIT_RULE_Access) {
        if (securityModel.HasIVT2SAP_EDIT_RULE_Access) {
        $('#grid').find('.k-toolbar .k-button').prop("disabled", false);
        $(".k-upload-button").prop("disabled", false);
        }
        else {
        $('#grid').find('.k-toolbar .k-button').prop("disabled", true);
        $(".k-upload-button").prop("disabled", true);
        }
        }
        else {
        //Select PanelBar Item..
        var panelBar = $("#panelbar").kendoPanelBar().data("kendoPanelBar");
        var rootItem = panelBar.element.children("li").eq(0).find(".k-group > .k-item").eq(2);
        rootItem.find("span").trigger("click");
        }*/
    });  
</script>
