@{
    ViewBag.Title = "JE Subset";
}
@section featured {
}
<script type="text/javascript">


    function deleteRule() {
        var myGrid = $('#grid').data("kendoGrid");

        if (myGrid.select().length == 0) {
            alert("Select record to be removed!");
            return false;
        }
        var jeType= myGrid.select()[0].innerHTML;
        var i = jeType.lastIndexOf("gridcell");
        i = i + 10;
        var j = jeType.lastIndexOf("<");
        common.companySummaryJeType = jeType.substring(i, j);
        myGrid.removeRow(myGrid.select());
    }
    function dataBound(e) {
        $("#grid").off("click", ".k-grid-Delete", deleteRule);
        $("#grid").on("click", ".k-grid-Delete", deleteRule);
    }
    function onRequestEnd(e) {
        if (e.type == "update" && !e.response.errors) {
            common.showSuccessMsgSlide("Rev2Sap Company Summary Updated Successfully!");
        }
        if (e.type == "create" && !e.response.errors) {
            common.showSuccessMsgSlide("Rev2Sap Company Summary Created Successfully!");
            $("#grid").data("kendoGrid").dataSource.read(getSelectedInterface());
        }
        if (e.type == "destroy" && !e.response.errors) {
            common.showSuccessMsgSlide("Rev2Sap Company Summary Removed Successfully!");
            $("#grid").data("kendoGrid").dataSource.read();
        }
    }
    function onSave(e) {
        if (e.model.CompanyCode != '') {
            if (e.model.id != e.model.CompanyCode) {
                if (!checkDup(this, e.model.CompanyCode)) {
                    alert("CompanyCode already exists!");
                    e.preventDefault();

                }
            }
        }
    }
    function checkDup(obj, value) {
        var data = obj.dataSource.data();
        var invalid = 0;
        $(data).each(function (i, item) {
            if (item.id == value) {
                invalid++;
            }
        });
        if (invalid > 0) {
            return false;
        }
        return true;
    }
    function onEdit(e) {
        common.companySummaryCalcGroup = e.model.Calculation_Group;
        common.companySummaryCompGroup = e.model.CompanyGroup;
        common.companySummaryJeType = e.model.JE_Type;
        if (e.model.isNew() == false) {
            e.container.find('#GroupName').prop("readonly", true);
            e.container.find('#GroupName').addClass('k-state-disabled')
        }
        else 
        {
            e.container.find('#GroupName').prop("readonly", false);
            e.container.find('#GroupName').removeClass('k-state-disabled')
        }
        e.container.find(".k-grid-cancel").bind("click", function () {
            $("#grid").data("kendoGrid").dataSource.read();
        })

    }
</script>
<div id="contentContainer">
    @(Html.Kendo().Grid<NylimSapInterface.Model.Rev2SapCompanySummary>()
    .Name("grid")
    .Groupable()
    .Reorderable(reorder => reorder.Columns(true))
    .Resizable(resize => resize.Columns(true))
    .Scrollable(scrollable => scrollable.Virtual(true))
    .Events(e => e.DataBound("dataBound").Save("onSave").Edit("onEdit"))
    .Editable(e => e.Mode(GridEditMode.PopUp).TemplateName("Rev2SapCompanySummaryTemplate"))
    .Sortable()
    .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
    .Filterable(f => f.Enabled(true))
    .Columns(columns =>
    {
        columns.Bound(p => p.Calculation_Group).Title("Calculation Group").Width(120);
        columns.Bound(p => p.Subset).Title("JE Subset").Width(120);
        columns.Bound(p => p.JE_Type).Title("JE Type").Width(120);
    })
            //.ToolBar(toolbar => { 
            //    toolbar.Create().Text("Create Company Summary");
            //    toolbar.Custom().Text("Delete").Name("Delete").Url("#");
            //})
               .ToolBar(toolbar =>
               {
                   toolbar.Template(
                       @<text> <a class="k-button k-button-icontext k-grid-add" href="/SapGuiInterface/ReferenceData/GetRev2SapCompanySummary?grid-mode=insert">
                <span class="k-icon k-add"></span>Create JE Summary</a> <a class="k-button k-button-icontext k-grid-Delete"
                    href="#"><span></span>Delete</a> <a class="k-button k-button-icontext k-grid-export" href='@Url.Action("Rev2SapCompanySummaryToExcel", "ReferenceData")'>
                        <span></span><span class=" k-icon k-grid-export-image" />Export
    </a>
    </text>);
               })
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                        .Model(m =>
                                        {
                                            m.Id("Calculation_Group");
                                        })
                                .Events(e => e.RequestEnd("onRequestEnd"))
                                .Create(update => update.Action("InsertRev2SapCompanySummary", "ReferenceData").Data("common.getCompanySummaryData"))
                                .Update(update => update.Action("UpdateRev2SapCompanySummary", "ReferenceData").Data("common.getCompanySummaryData"))
                                                        .Destroy(destroy => destroy.Action("DeleteRev2SapCompanySummary", "ReferenceData").Data("common.getCompanySummaryDeleteData"))
                                .PageSize(40)
                                .ServerOperation(true)
                                .Read(read => read.Action("GetRev2SapCompanySummary", "ReferenceData"))
                            )
                        )
</div>
<script type="text/javascript">
    var securityModel = common.permissionSet;
    //if (securityModel.HasRev2Sap_EDIT_RULE_Access) {
    $('#grid').data("kendoGrid").element.delegate("tbody>tr", "dblclick", function () {
        $('#grid').data("kendoGrid").editRow($(this));
    });
    //}
    var test = $('#grid').data("kendoGrid").table.kendoTooltip({
        filter: "td[value=bar]",
        content: function (e) {
            var target = e.target;
            return $(target).text();
        },
        position: "top",
        width: 300
    }).data("kendoTooltip");


</script>
