@{
    ViewBag.Title = "Company Frequency";
}

@section featured {
}
<script type="text/javascript">
    function deleteRule() {
        var myGrid = $('#grid').data("kendoGrid");

        if (myGrid.select().length == 0) {
            alert("Select record to be removed!");
            return false;
        }
        myGrid.removeRow(myGrid.select());
    }
    function dataBound(e) {
        $("#grid").off("click", ".k-grid-Delete", deleteRule);
        $("#grid").on("click", ".k-grid-Delete", deleteRule);
    }
    function onRequestEnd(e) {
        if (e.type == "update" && !e.response.errors) {
            common.showSuccessMsgSlide("Rev2Sap Company Frequency Updated Successfully!");
        }
        if (e.type == "create" && !e.response.errors) {
            common.showSuccessMsgSlide("Rev2Sap Company Frequency Created Successfully!");
            $("#grid").data("kendoGrid").dataSource.read();
        }
        if (e.type == "destroy" && !e.response.errors) {
            common.showSuccessMsgSlide("Rev2Sap Company Frequency Removed Successfully!");
            $("#grid").data("kendoGrid").dataSource.read();
        }
    }
    function onSave(e) {
        if (e.model.id != e.model.CompanyGroup) {
            if (!checkDup(this, e.model.JESubset)) {
                alert("JESubset already exists!");
                e.preventDefault();
            }
        }
        else if (e.model.GroupName == "") {
            alert("Please Select Calculation Group!");
            e.preventDefault();
        }
        else if (e.model.JESubset == "" || common.jeSubset == '') {
            if (e.model.id == "") {
                alert("Please Select JE Subset!");
                e.preventDefault();
            }
        }
    }
    function checkDup(obj, value) {
        var data = obj.dataSource.data();
        var invalid = 0;
        $(data).each(function (i, item) {
            if (item.id == value) {
                invalid++;
            }
        });
        if (invalid > 0) {
            return false;
        }
        return true;
    }
    function onEdit(e) {
        e.container.find('.k-numerictextbox').width(100);
        if (e.model.isNew() == false) {
            e.container.find('#CompanyGroup').prop("readonly", true);
        }
    }

</script>
<div id="contentContainer">
             
             
@(Html.Kendo().Grid<NylimSapInterface.Model.Rev2SapCompanyFrequency>()
        .Name("grid")
    .Reorderable(reorder => reorder.Columns(true))
    .Groupable()
    .Resizable(resize => resize.Columns(true))    
    .Scrollable(scrollable => scrollable.Virtual(true))
    .Events( e => e.DataBound("dataBound").Save("onSave").Edit("onEdit"))
            .Editable(e => e.Mode(GridEditMode.PopUp).TemplateName("Rev2SapCompanyFrequencyTemplate"))
        .Sortable()
        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
    .Filterable(f => f.Enabled(true))
    .Columns(columns =>
    {
        columns.Bound(p => p.GroupName).Title("Calculation Group").Width(120);
        columns.Bound(p => p.JESubset).Title("JE Subset").Width(120);
        columns.Bound(p => p.JESubset).Title("JE Type").Hidden(true).Width(120);
        columns.Bound(p => p.CompanyGroup).Title("JE Type").Visible(false).Width(80);
        columns.Bound(p => p.FrequencyIndicator).Width(80);
           

    })
  .ToolBar(toolbar =>
    {
      toolbar.Template(
            @<text>
                    <a class="k-button k-button-icontext k-grid-add" href="/SapGuiInterface/ReferenceData/GetRev2SapCompanyFrequency?grid-mode=insert"><span class="k-icon k-add"></span>Create Frequency Indicator</a>
                  @*  <a class="k-button k-button-icontext k-grid-Delete" href="#"><span></span>Delete</a> *@ 
                    <a class="k-button k-button-icontext k-grid-export" href='@Url.Action("Rev2SapCompanyFrequencyToExcel", "ReferenceData")'>
                        <span>
                        </span>
                        <span class=" k-icon k-grid-export-image"/>Export
                    </a>   
                       
            </text>);
     })
    .DataSource(dataSource => dataSource
        .Ajax()
                .Model(m =>
                {
                    m.Id("CompanyGroup");
                })
        .Events( e => e.RequestEnd("onRequestEnd"))
        .Create(update => update.Action("SaveRev2CompanyFrequency", "ReferenceData").Data("common.getCompanyGroupData"))
        .Update(update => update.Action("UpdateRev2CompanyFrequency", "ReferenceData"))
        .Destroy(destroy => destroy.Action("DeleteRev2CompanyFrequency", "ReferenceData"))
        .PageSize(40)
        .ServerOperation(true)
        .Read(read => read.Action("GetRev2SapCompanyFrequency", "ReferenceData"))
    )
                        )
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var securityModel = common.permissionSet;
        if (securityModel.HasREV2SAP_EDIT_RULE_Access) {
            $('#grid').find('.k-toolbar .k-button').prop("disabled", false);
            $('#grid').data("kendoGrid").element.delegate("tbody>tr", "dblclick", function () {
                $('#grid').data("kendoGrid").editRow($(this));
            });
        }
        else {
            $('#grid').find('.k-toolbar .k-button').prop("disabled", true);
        }
    });  
</script>

