@{
    ViewBag.Title = "Company Grouping Rules";
}
@section featured {
}
<script type="text/javascript">


    function deleteRule() {
        var myGrid = $('#grid').data("kendoGrid");

        if (myGrid.select().length == 0) {
            alert("Select record to be removed!");
            return false;
        }
        myGrid.removeRow(myGrid.select());
    }
    function dataBound(e) {
        $("#grid").off("click", ".k-grid-Delete", deleteRule);
        $("#grid").on("click", ".k-grid-Delete", deleteRule);
    }
    function onRequestEnd(e) {
        if (e.type == "update" && !e.response.errors) {
            common.showSuccessMsgSlide("Wso2Sap Company Summary Updated Successfully!");
        }
        if (e.type == "create" && !e.response.errors) {
            common.showSuccessMsgSlide("Wso2Sap Company Summary Created Successfully!");
            $("#grid").data("kendoGrid").dataSource.read(getSelectedInterface());
        }
        if (e.type == "destroy" && !e.response.errors) {
            common.showSuccessMsgSlide("Wso2Sap Company Summary Removed Successfully!");
            $("#grid").data("kendoGrid").dataSource.read();
        }
    }
    function onSave(e) {
        if (e.model.id != e.model.CompanyCode) {
            if (!checkDup(this, e.model.CompanyCode)) {
                alert("CompanyCode already exists!");
                e.preventDefault();
            }
        }
    }
    function checkDup(obj, value) {
        var data = obj.dataSource.data();
        var invalid = 0;
        $(data).each(function (i, item) {
            if (item.id == value) {
                invalid++;
            }
        });
        if (invalid > 0) {
            return false;
        }
        return true;
    }
    function onEdit(e) {
        if (e.model.isNew() == false) {

            e.container.find('#SAPInterfaceCode').prop("readonly", true);
            //e.container.find('#CompanyCode').prop("readonly", true);
        }
    }
</script>
<div id="contentContainer">
    @(Html.Kendo().Grid<NylimSapInterface.Model.Wso2SapCompanySummary>()
        .Name("grid")
    .Groupable()
    .Resizable(resize => resize.Columns(true))
    .Scrollable(scrollable => scrollable.Virtual(true))
    .Events(e => e.DataBound("dataBound").Save("onSave").Edit("onEdit"))
    .Editable(e => e.Mode(GridEditMode.PopUp).TemplateName("Wso2SapCompanySummaryFundingTemplate"))
    .Sortable()
    .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
    .Filterable(f => f.Enabled(true))
    .Columns(columns =>
    {
        columns.Bound(p => p.SAPInterfaceCode).Title("SAP Interface Code").Width(120);
        //columns.Bound(p => p.CompanyCode).Width(120);
        columns.Bound(p => p.Description).Width(110);
        columns.Bound(p => p.SendToSapAuto).Width(120);
        //columns.Bound(p => p.Maker).Hidden(true).HtmlAttributes(new { @id = "maker" });
        //columns.Bound(p => p.Checker).Hidden(true).HtmlAttributes(new { @id = "checker" });
        columns.Bound(p => p.SapCostCenter).HtmlAttributes(new { @id = "SapCostCenter" }).Width(120);
        columns.Bound(p => p.SapProfitCenter).HtmlAttributes(new { @id = "SapProfitCenter" }).Width(120);
    })
            //.ToolBar(toolbar => { 
            //    toolbar.Create().Text("Create Company Summary");
            //    toolbar.Custom().Text("Delete").Name("Delete").Url("#");
            //})
       .ToolBar(toolbar =>
    {
        toolbar.Template(
            @<text> 
           @* <a class="k-button k-button-icontext k-grid-add" href="/SapGuiInterface/ReferenceData/GetWso2SapCompanySummaryFunding?grid-mode=insert">
                <span class="k-icon k-add"></span>Create Company Group Rules</a> *@
             <a class="k-button k-button-icontext k-grid-export" href='@Url.Action("Wso2SapCompanySummaryToExcel", "ReferenceData")'>
                        <span></span><span class=" k-icon k-grid-export-image"/>Export </a>
    </text>);
    })
    .DataSource(dataSource => dataSource
        .Ajax()
                .Model(m =>
                {
                    m.Id("SAPInterfaceCode");
                })
        .Events(e => e.RequestEnd("onRequestEnd"))
        .Create(update => update.Action("SaveWso2SapCompanySummary", "ReferenceData"))
                .Update(update => update.Action("UpdateWso2SapCompanySummary", "ReferenceData"))
                //.Destroy(destroy => destroy.Action("DeleteWso2SapCompanySummary", "ReferenceData"))
        .PageSize(40)
        .ServerOperation(true)
                .Read(read => read.Action("GetWso2SapCompanySummary", "ReferenceData"))
    )
)
</div>
<script type="text/javascript">
    var securityModel = common.permissionSet;
    if (securityModel.HasWSO2SAP_EDIT_RULE_Access) {
        $('#grid').data("kendoGrid").element.delegate("tbody>tr", "dblclick", function () {
            $('#grid').data("kendoGrid").editRow($(this));
        });
    }
    var test = $('#grid').data("kendoGrid").table.kendoTooltip({
        filter: "td[value=bar]",
        content: function (e) {
            var target = e.target;
            return $(target).text();
        },
        position: "top",
        width: 300
    }).data("kendoTooltip");


</script>
