<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net xmlns="urn:log4net">
    <root>
      <level value="DEBUG" />
      <appender-ref ref="SQLDbAppender" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="SmtpAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs\%date{yyyy-MM}\NylimSapGuiInterface_%date{yyyy-MM-dd}.log" />
      <param name="AppendToFile" value="true" />
      <threshold value="OFF" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd.txt" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%5level %d{yyyy-MM-dd HH:mm:ss:fff} [%thread]  - %message%newline" />
      </layout>
    </appender>
    <appender name="SQLDbAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=nylim-ctldbdev;initial catalog=NylimLogging;integrated security=false;persist security info=True;user id=reconuser;password=)k1j#cSOWAKx" />
      <!--<commandType value="Text" />-->
      <commandText value="exec [NylimLogging].[dbo].[WriteLog2] 0, 
		      1, 
		      @log_level, 
		      @method, 
		      @log_date, 
		      @machine, 
		      'NYLIM Sap GUI Interface', 
		      @pid, 
		      'NYLIM Sap GUI Interface', 
		      @logger, 
		      @thread, 
		      @message, 
          @stacktrace,
		      106"/>
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}"/>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout" value="%thread"/>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout" value="%level" />
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout" value="%logger"/>
      </parameter>
      <parameter>
        <parameterName value="@title"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout" value="%message"/>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout" value="%message%newline"/>
      </parameter>
      <parameter>
        <parameterName value="@stacktrace"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout" value="%exception"/>
      </parameter>
      <parameter>
        <parameterName value="@machine"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout" value="%property{log4net:HostName}"/>
      </parameter>
      <parameter>
        <parameterName value="@pid"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout" value="%property{pid}"/>
      </parameter>
      <parameter>
        <parameterName value="@method"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%C{1}.%property{method}" />
        </layout>
      </parameter>
      <securitycontext type="log4net.Util.WindowsSecurityContext">
        <credentials value="Process">
        </credentials>
      </securitycontext>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender,log4net">
      <to value="agupta@nylim.com;rajesh_thomas@nylim.com" />
      <from value="nylimsapguiinterface_dev@nylim.com" />
      <subject value="(DEV)Error in NYLIM SAP GUI Interface" />
      <smtpHost value="pnjhub1.newyorklife.com" />
      <bufferSize value="1" />
      <lossy value="false" />
      <threshold value="Error" />
      <evaluator type="log4net.Core.LevelEvaluator,log4net">
        <threshold value="Error" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%property{log4net:HostName}::%5level %d{yyyy-MM-dd HH:mm:ss:fff} [%thread]  - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>