<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
	<appSettings>
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="true" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="EntitlementServiceUrl" value="http://nylim-shr1appro.nylim.nt.newyorklife.com/EntitlementWS/SecurityEntitlements.svc" />
		<add key="EnableSimpleMembership" value="false" />
		<add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
		<add key ="OutputCache" value ="false"/>
		<add key ="CacheDuration" value ="0"/>
		<add key="Environment" value="PROD"/>
		<add key="DND2IADashboardUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/Dnd2IA_Dashboard.asp"/>
		<add key="ExactPrePostReconUrl" value= "http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/Exact_PrePost_Recon.asp?recrunID=" />
		<add key="ExactSAPReconUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/ExactSAP_Recon.asp?recrunID=" />
		<add key="GLReportUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/gl_report.asp?runid=" />
		<add key ="DashboardUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/candriam_dashboard.asp"/>		
		<add key="Gen2SapPrePostReconUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/Gen2Sap_PrePost_Recon.asp" />
		<add key="Gen2SapPostSapReconUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/Gen2Sap_SAP_Recon.asp"/>
		<add key="LMSPrePostReconUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/LMS_PrePost_Recon.asp?recrunID=" />
		<add key="Gen2SapGLReportUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/gl_report_Gen2Sap.asp"/>
		<add key="LMSSAPReconUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/LMSSAP_Recon.asp?recrunID=" />
		<add key ="Gen2SapDashboardUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/Gen2Sap_Dashboard.asp"/>
		<add key="LMSGLReportUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/gl_report_LMSSAP.asp?runid=" />
		<add key="LMSDashboardUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/LMS_Dashboard.asp"/>
		<add key="LMS2SAPReserveReportUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/reservereport.asp?runid="/>
		<add key ="lms2sapBasisreportUrl" value=" http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/reservesadjustprin.asp?asof="/>
		<add key ="lms2sapPrinWrtreportUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/reservesprincipalwritedowns.asp?asof="/>
		<add key ="ivt2sapDashboardUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/Goldpoint_Dashboard.asp"/>
		<add key ="ivt2sapGLReportUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/gl_report_GoldPoint.asp?runid="/>
		<add key="Ivt2SapPrePostReconUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/GoldPoint_PrePost_Recon.asp?recrunID=" />
		<add key="Ivt2SapPrePostReconAllUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/GoldPoint_PrePost_Recon_All.asp?asofDate=" />
		<add key="Ivt2SapReconUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/GoldPointSAP_Recon.asp?recrunID=" />
		<add key="Ivt2SapReconAllUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/GoldPointSAP_Recon_All.asp?asofDate=" />
		<add key ="Lms2SapUserManualUrl" value="https://teams.nylinvestments.com/sites/regroadmap/LMS/LMS%20to%20SAP%20for%20Accruals%20and%20Reserves/Go-Live/User%20Manual_v1.6.doc"/>
		<add key="Ivt2SapBalanceReportUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/sp_execute_ivt_to_sap.asp?name=ivt2sap_run_summary&amp;asofdate=" />
		<add key="Rev2SapStatusReportUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/rev2sap_balance_report.asp?BILLINGGROUPNAME="/>
		<add key ="Rev2sapJEMemoReportUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/rev2sap_sapje_report.asp?runid="/>
		<add key ="Rev2sapJEReportUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/rev2sap_sapje_report.asp?runid="/>
		<add key="smtpServer" value="pnjhub1.newyorklife.com" />
		<add key="smtpPort" value="25" />
		<add key="ApproverMsg" value="is waiting for approval. Please visit REV2SAP to complete the process" />
		<add key="ReprocessMsg" value="is set for Reprocess. Please visit REV2SAP to complete the process" />
		<add key="ProcessorMsg" value="has been rejected and requires reprocessing. Please visit REV2SAP to complete the process" />
		<add key="ApprovedMsg" value="has been approved" />
		<add key="ProcessingSubject" value=" JOURNAL ENTRY  - REQUEST MANAGER APPROVAL" />
		<add key="ReProcessSubject" value=" JOURNAL ENTRY  - REPROCESS" />
		<add key="RejectionSubject" value=" JOURNAL ENTRY - REJECTED" />
		<add key="ApproverSubject" value=" JOURNAL ENTRY - APPROVED" />
		<add key="RuleUpdateMessage" value="has been updated. Please review changes for accuracy" />
		<add key="Rev2SapJEMemoPath" value="\\nylim-bztappro\NYLIMData\BizTalkOutput\NYLIMSAP\"/>
		<add key="ApplicationUrl" value="http://nylim-shr1appro.nylim.nt.newyorklife.com/SapGuiInterface" />
		<add key ="Rev2sapJEExceptionReportUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/FundExceptionReport.asp?BILLINGGROUPNAME="/>
		<add key="TrailsProcessorIds" value="Ryan_Jarrell@nylim.com,Hema_sachdev@nylim.com,art_altman@nylim.com"/>
		<add key="SubAdvProcessorIds" value="Jennifer_D_Ruane@newyorklife.com, Hema_sachdev@nylim.com,art_altman@nylim.com " />
		<add key="ApproverIds" value="Mary_ann_aull@nylim.com,Marta_Hansen@nylim.com,Hema_sachdev@nylim.com,art_altman@nylim.com "/>
		<add key="SenderAddress" value="JEAutomation@nylim.com"/>
		<add key ="wso2sapDashboardUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/WSO_Dashboard.asp"/>
		<add key ="wso2sapGLReportUrl" value="http://nylim-fiiappro.nylim.nt.newyorklife.com/geneva/recon/gl_report_wsosap.asp?runid="/>
		 <add key="SubTAProcessorIds" value="judy_ng@nylim.com,Hema_sachdev@nylim.com,art_altman@nylim.com"/>
		 <add key="SubTAApproverIds" value="Mary_ann_aull@nylim.com,Marta_Hansen@nylim.com,Hema_sachdev@nylim.com,art_altman@nylim.com"/>
		<add key="ListToExclude" value="5913,5950,5958,5946,5927,5963,5964,5971" />


	</appSettings>
	<system.web>
	 <httpRuntime maxRequestLength="1048576" />
		<authentication mode="Windows" />
		<identity impersonate="false" />    
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
				<add namespace="Kendo.Mvc.UI" />        
			</namespaces>
		</pages>
		<customErrors mode="Off" />
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
        <security>
		 <requestFiltering>
          <requestLimits maxAllowedContentLength="1073741824" />
        </requestFiltering>
            <authorization>
                <add accessType="Allow" roles="Administrators" />
            </authorization>
        </security>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.0.5022.0" />
			</dependentAssembly> 
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_ISapInterfaceService" closeTimeout="00:05:00" openTimeout="00:05:00" sendTimeout="00:05:00" maxReceivedMessageSize="2147483647" />
				<binding name="SecurityEntitlementsWs" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="sapInterfaceServicebehavior">
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<client>
			<endpoint address="http://nylim-shr1appro.nylim.nt.newyorklife.com/EntitlementWS/SecurityEntitlements.svc" binding="basicHttpBinding" bindingConfiguration="SecurityEntitlementsWs" contract="EntitlementService.ISecurityEntitlements" name="SecurityEntitlementsWs" />
			<endpoint address="http://nylim-shr1appro.nylim.nt.newyorklife.com:8736/NylimSapInterface.Service/SapInterfaceService/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISapInterfaceService" contract="SapInterfaceService.ISapInterfaceService" name="BasicHttpBinding_ISapInterfaceService" />
		</client>
	</system.serviceModel>
</configuration>