@{
    ViewBag.Title = "Rules Table";
}
@section featured {
}
<style scoped>
    .k-edit-form-container
    {
        width: 845px !important;
    }
</style>
<script type="text/javascript">
    function entityFilter(element) {
        element.kendoDropDownList({
            dataSource: {
                transport: {
                    read: '@Url.Action("GetGen2SapRulesEntity", "RulesTable")'
                }
            },
            optionLabel: "--Select Value--"
        });
    }
    function deleteRule() {
        var myGrid = $('#grid').data("kendoGrid");
        if (myGrid.select().length == 0) {
            alert("Select record to be removed!");
            return false;
        }
        myGrid.removeRow(myGrid.select());
    }
    function dataBound(e) {
        $("#grid").off("click", ".k-grid-Delete", deleteRule);
        $("#grid").on("click", ".k-grid-Delete", deleteRule);
    }
    function onRequestEnd(e) {
        var interfaceName = $("#selectinterface").data("kendoDropDownList").text();
        if (e.type == "update" && !e.response.errors) {
            common.showSuccessMsgSlide(interfaceName + " Rule Updated Successfully!");
            $("#grid").data("kendoGrid").dataSource.read(getSelectedInterface());
        }
        if (e.type == "create" && !e.response.errors) {
            common.showSuccessMsgSlide(interfaceName + " Rule Created Successfully!");
            $("#grid").data("kendoGrid").dataSource.read(getSelectedInterface());
        }
        if (e.type == "destroy" && !e.response.errors) {
            common.showSuccessMsgSlide(interfaceName + " Rule Removed Successfully!");
            $("#grid").data("kendoGrid").dataSource.read(getSelectedInterface());
        }
    }
    
    function getInterfaceInfo() {
    
        var interfaceName = $("#selectinterface").data("kendoDropDownList").text();
        var currentValue = $("#selectinterface").data("kendoDropDownList").value();
        return { interfaceId: currentValue, interfaceName: interfaceName};
    }
</script>
<script id="fileTemplate" type="text/x-kendo-template">
    <span class='k-progress'></span>
    <div class='file-wrapper'>        
        <h6 class='file-heading file-name-heading'>Name: #=name#</h6>        
        <button type='button' id='btnUploadFile' class='k-upload-action'></button>
    </div>
</script>
<div id="gridcontentwrapper">
    <table style="display: none">
        <tr>
            <td style="width: 300px;">
                @(Html.Kendo().Upload()
            .Name("rulesTableUpload")
            .Events(e => e.Upload("common.onUpload").Success("common.onUploadSuccess").Error("common.onUploadError"))
                        //.TemplateId("fileTemplate")
            .Multiple(false)
            .Messages(m => m.Select("Select File..").StatusUploaded("File Successfully uploaded!"))
            .Async(a => a
                .Save("ImportRulesData", "RulesTable")
                .Remove("RemoveImportedRulesData", "RulesTable")
                .AutoUpload(false)
            )

            )
            </td>
            <td>
                <input type="checkbox" id="clearAllData" name="clearAllData" title="Clear all data prior import"
                    checked="checked" value="Clear All Data"></input><label for="clearAllData" style="display: inline-block;">&nbsp;Clear
                        All Data</label>
            </td>
        </tr>
    </table>
    @*<script type="text/x-kendo-template" id="template">
    <div class="toolbar">
        <a class="k-button k-button-icontext k-grid-add" href="/SapGuiInterface/RulesTable/GetRulesTable?grid-mode=insert"><span class="k-icon k-add"></span>Create Rule</a>
        <a class="k-button k-button-icontext k-grid-Delete" href="#"><span></span>Delete</a>
        @Html.ActionLink("Export to Excel", "Exa2SapRulesToExcel", "RulesTable")  
    </div>
</script> 
    
*@
    @(Html.Kendo().Grid<NylimSapInterface.Model.Gen2SapRules>()
        .Name("grid")
    .Groupable()
    .Resizable(resize => resize.Columns(true))
    .Scrollable(scrollable => scrollable.Virtual(true))
    .Sortable()
    .Editable(e => e.Mode(GridEditMode.PopUp).TemplateName("Gen2SapRulesTemplate"))
    .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
    .Filterable(filterable => filterable
        .Extra(false)
        .Operators(operators => operators
            .ForString(str => str.Clear()
                .StartsWith("Starts with")
                .IsEqualTo("Is equal to")
                .IsNotEqualTo("Is not equal to")
            ))
    )
    .Columns(columns =>
    {
        columns.Bound(p => p.SourceCompanyCode).Title("Source Company Code").Width(135);
        columns.Bound(p => p.SourceGLAccountNumber).Title("Source GL Account Number").Width(160);
        columns.Bound(p => p.SubAccountID).Title("Source Sub Account ID").Width(140);
        columns.Bound(p => p.DocumentHeaderText).Title("Document Header Text").Width(140);
        //columns.Bound(p => p.SubSystem).Title("Sub System").Width(90);
        columns.Bound(p => p.LedgerGroupCode).Title("Ledger Group Code").Width(135);
        columns.Bound(p => p.GLDocumentType).Title("GL Document Type").Width(135);
        //columns.Bound(p => p.CompanyCode).Title("Company Code").Width(100);
        columns.Bound(p => p.GLAccountNumber).Title("GL Account Number").Width(160);
        columns.Bound(p => p.TradingPartnerCode).Title("Trading Partner Code").Width(130);
        columns.Bound(p => p.ProductCode).Title("Product Code").Width(100);
        columns.Bound(p => p.SubProductCode).Title("Sub Product Code").Width(120);
        columns.Bound(p => p.DistributionChannelCode).Title("Distribution Channel Code").Width(155);
        columns.Bound(p => p.CostCenterCode).Title("Cost Center Code").Width(110);
        columns.Bound(p => p.SourceInvestmentDivisionCode).Title("Investment Division Code").Width(190);
        columns.Bound(p => p.StateCode).Title("State Code").Width(95);
        columns.Bound(p => p.QualifiedNonQualifiedIndicator).Title("Qualified/Non-Qualified Indicator").Width(190);
        columns.Bound(p => p.InternalOrderCode).Title("Internal Order Code").Width(130);
        columns.Bound(p => p.SeparateAccountSeriesCode).Title("Separate Account Series Code").Width(175);
        columns.Bound(p => p.PolicyRiderType).Title("Policy Rider Type").Width(135);
        columns.Bound(p => p.PremiumLoadType).Title("Premium Load Type").Width(135);
        
        // ---- Below code is commented and added two more lines based on Phil Jacobs requirement. ---- Changes done by Sarath on 07 Oct 2016
        //columns.Bound(p => p.SourceProductCode).Title("Source Product Code").Width(145);
        
        columns.Bound(p => p.SourceProductCode).Hidden(true);

        // ---- End of Sarath's code changes

        columns.Bound(p => p.RuleId).Hidden(true);
        columns.Bound(p => p.Rownum).Width(80);
    })
    .ToolBar(toolbar =>
    {
        //toolbar.Create().Text("Create Rule");
        //toolbar.Custom().Text("Delete").Name("Delete").Url("#");
        toolbar.Template(
            @<text> <a class="k-button k-button-icontext k-grid-add" href="/SapGuiInterface/RulesTable/GetRulesTable?grid-mode=insert">
                <span class="k-icon k-add"></span>Create Rule</a> <a class="k-button k-button-icontext k-grid-Delete"
                    href="#"><span></span>Delete</a> <a class="k-button k-button-icontext k-grid-Export"
                        href='#'><span></span><span class=" k-icon k-grid-export-image" />Export
    </a>
    </text>);
    })
    .DataSource(dataSource => dataSource

    .Ajax()
    .Model(m =>
    {
        m.Id("RuleId");
        m.Field(p => p.RuleId).Editable(false);
        m.Field(p => p.RecordAction).Editable(false);
    })

                .PageSize(45)
                .ServerOperation(false)
                .Model(m => m.Id("Rownum"))
                .Events(e => e.RequestEnd("onRequestEnd"))
                    .Create(create => create.Action("SaveGen2SapRules", "RulesTable").Data("getInterfaceInfo"))
                    .Update(update => update.Action("UpdateGen2SapRules", "RulesTable").Data("getInterfaceInfo"))
                    .Destroy(destroy => destroy.Action("DeleteGen2SapRules", "RulesTable").Data("getInterfaceInfo"))
                    .Read(read => read.Action("GetRulesTable", "RulesTable").Data("getInterfaceInfo"))

            )
        )
        </div>
<script type="text/javascript">    
    var securityModel = common.permissionSet;
    var interfaceName = $("#selectinterface").data("kendoDropDownList").text();
    if (securityModel["Has" + interfaceName + "_EDIT_RULE_Access"]) {
        $('#grid').data("kendoGrid").element.delegate("tbody>tr", "dblclick", function () {
            $('#grid').data("kendoGrid").editRow($(this));
        });
    }

    $("#grid").off("click", ".k-grid-Delete", deleteRule);
    $("#grid").on("click", ".k-grid-Delete", deleteRule);
    $("#grid").off("click", ".k-grid-Export", common.exportToExcel);
    $("#grid").on("click", ".k-grid-Export", common.exportToExcel);
    var test = $('#grid').data("kendoGrid").table.kendoTooltip({
        filter: "td[value=bar]",
        content: function (e) {
            var target = e.target;
            return $(target).text();
        },
        position: "top",
        width: 100
    }).data("kendoTooltip");
    $(document).ready(function () {
        var securityModel = common.permissionSet;
        if (securityModel.HasMKS2SAP_INT_Access || securityModel.HasMKS2SAP_EDIT_RULE_Access ||
        securityModel.HasPRI2SAP_INT_Access || securityModel.HasPRI2SAP_EDIT_RULE_Access ||
        securityModel.HasICP2SAP_INT_Access || securityModel.HasICP2SAP_EDIT_RULE_Access) {
            if (securityModel.HasEXA2SAP_EDIT_RULE_Access) {
                $('#grid').find('.k-toolbar .k-button').prop("disabled", false);
                $(".k-upload-button").prop("disabled", false);
            }
            else {
                $('#grid').find('.k-toolbar .k-button').prop("disabled", true);
                $(".k-upload-button").prop("disabled", true);
            }
        }
        else {
            //Select PanelBar Item..
            var panelBar = $("#panelbar").kendoPanelBar().data("kendoPanelBar");
            var rootItem = panelBar.element.children("li").eq(0).find(".k-group > .k-item").eq(2);
            rootItem.find("span").trigger("click");
        }
    });
</script>
