<div id="modalWindow">
    <table  border="1" cellpadding="5px" cellspacing="0" width="100%" style="border-collapse:collapse; font-size: 10px;" class="revportJEStatus">
    <tr>
    <th style="font-size: 14px;">
     
           Run ID
     </th>
      <th style="font-size: 14px;">
       
           Status 
     </th>
      <th style="font-size: 14px;">
       
           Comment
     </th>
      <th style="font-size: 14px;">
       
           User
     </th>
      <th style="font-size: 14px;">
       
           Date
     </th>
    </tr>
 @*   <tr>
    <td style="font-size: 13px;">
       
           Creation Status
     </td>
      <td style="font-size: 13px;">
       
           Done 
     </td>
      <td>
       -
         
     </td>
      <td style="font-size: 13px;">
       
           T95J4GP
     </td>
      <td style="font-size: 13px;">
       
           07/09/2015 14:29:06
     </td>
    </t*@r>
    <tr>
    <td style="font-size: 13px;">
       
           Reviewer Status
     </td>
      <td style="font-size: 13px;">
       
           Done 
     </td>
      <td style="font-size: 13px;">
       Reviewed by SBhattacharya and sentfor manager approval
         
     </td>
      <td style="font-size: 13px;">
       
           SBhattacharya
     </td>
      <td style="font-size: 13px;">
       
           07/10/2015 04:29:06
     </td>
    </tr>
    @*<tr>
    <td style="font-size: 13px;">
       
           Approver Status
     </td>
      <td style="font-size: 13px;">
       
           Pending For Approval 
     </td>
      <td>
       -</td>
      <td>
       -
           
     </td>
      <td>
       
          -
     </td>
    </tr>*@
    </table>
   <ul id="updateMemoOtherCash" class="centerUL">
    <li>
        <textarea id="txtRejectApproveReason" class="k-input" name="Reason" rows="3" cols="3" style="text-align:left;"/>
        <input type="hidden" id="rtype" />
    </li>   
    
    <li style="text-align: center;" >
        <button class="k-button" id="btnSave" style="width:75px;" style="text-align:left;">
            Approve</button>
        <button class="k-button" id="btnReject" style="width:75px;" style="text-align:left;">
            Reject</button>
        <button class="k-button" id="btnCancel" style="width:75px;" style="text-align:left;">
            Cancel</button>
    </li>
</ul>
</div>