@{
    ViewBag.Title = "NoAccess";
}

<div>
<span> You do not have any interfaces assigned. Access to this application is denied!</span>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#interfaceContainer').hide();
        $('#navigation').hide();
    });
</script>
